.wrapper {
	@apply relative flex items-center w-[40%];

	> .list {
		@apply absolute rounded-2xl bg-light-theme w-full overflow-hidden hidden animate-fade;
		top: calc(100% + 5px);

		> a {
			@apply flex items-center py-2 px-6 text-lg relative;

			&::after {
				@apply absolute right-5 h-0 w-1 bg-transparent rounded-full;
				content: '';
				transition:
					height 0.3s ease-in-out,
					background-color 0.3s ease-in-out;
			}

			&:hover::after {
				@apply bg-dark-text h-3/5;
			}
		}
	}

	&:focus-within {
		> .list {
			@apply block;
		}
	}
}
